# Supabase Configuration
# Replace with your project credentials from https://supabase.com/dashboard

VITE_SUPABASE_URL=https://vpdtfsstskbkljgrxdbj.supabase.co
VITE_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bRSwir46mZ30XtTsX5dVHQ_M54tp0DY
VITE_ANON_KEY=sb_anon_bRSwir46mZ30XtTsX5dVHQ_M54tp0DY