node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.git
.github
.vscode
.idea
*.md
dist
build
tmp
*.log
.DS_Store
apps/web/node_modules
apps/server/node_modules
packages/*/node_modules
backend
terranet
